<ion-view view-title="expense" class="goals-background" hide-nav-bar="true">
  <ion-content>
    <ion-list>
        <!--<ion-item>
          <ion-range min="0" max="50000" step="200" ng-model="expense.amount" color="black">
            <ion-label range-left>0</ion-label>
            <ion-label range-right>50,000</ion-label>
          </ion-range>
        </ion-item>-->
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="item range" style="border-radius: 15px;width: 90%;margin: auto;" >
        <i>$</i>
        <input type="range" name="amount" ng-model="expense.amount" min="0" max="100000" value="20000" step="5000">
        <i style="font-size: 18pt">$</i>
        <p style="text-align: center">Amount : {{expense.amount}}</p>
      </div>    
        <br>
      <div class="item range" style="border-radius: 15px;width: 90%;margin: auto;" >
        <i></i>
        <input type="range" name="amount" ng-model="time.time" min="5" max="100" value="10" step="1">
        <i style="font-size: 18pt">  </i>
        <p style="text-align: center">   {{time.time}} Days</p>
      </div> 

        <br><br>
          <a href="#/tab/goals/2">  
            <div style="height: 90px; width: 98%;border: 30px">
            </div>      
          </a>
      


    </ion-list >
  </ion-content>
</ion-view>
