<ion-view view-title="Savings" class="savings-background" hide-nav-bar="true">
  <ion-content>
    <ion-list>
        <!--<ion-item>
          <ion-range min="0" max="50000" step="200" ng-model="expense.amount" color="black">
            <ion-label range-left>0</ion-label>
            <ion-label range-right>50,000</ion-label>
          </ion-range>
        </ion-item>-->
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <!--<div class="item item-input">-->
               <div style="text-align: center;">
                    <ionic-numberpicker input-obj="numberPickerObject">
                        <button class="button button-positive order-button" style="padding: 30px;border-radius: 10px">
                            <p></p><i class="ion-archive" style="margin: auto; font-size: 40pt"></i>
                        </button>
                    </ionic-numberpicker>&nbsp;
               </div>
                <b> </b>
            <!--</div>-->
        <br><br><br><br>
          <a href="#/tab/dash/3">  
            <div style="height: 90px; width: 98%;border: 30px">
            </div>      
          </a>


    </ion-list >
  </ion-content>
</ion-view>
