<ion-view view-title="Me" hide-nav-bar="true" class="me-background">
  <ion-content>
    <!--<ion-list>-->
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <div style="width:85%;margin:auto;text-align: center" on-drag-left="disableVerticalScrolling()" on-drag-right="disableVerticalScrolling()">
        <img src="img/graphs/expenses.png"  style="width:95%;margin:auto;text-align: center">  
        <br>
        <img src="img/graphs/6-month-balance.png"  style="width:95%;margin:auto;text-align: center">
      </div>


    <!--</ion-list>-->
  </ion-content>
</ion-view>
