/* Your application styles go here */
.signup-background {
    background-image: url('../img/expense/Expensesselection.png');
    background-repeat: no-repeat
}

.goals-background {
    background-image: url('../img/goals/GoalDetails.png');
    background-repeat: no-repeat
}

.me-background {
    background-image: url('../img/me/Dashboard.png');
    background-repeat: no-repeat
}

.priority-background {
    background-image: url('../img/goals/Priorities.png');
    background-repeat: no-repeat
}

.savings-background {
    background-image: url('../img/expense/Savings.png');
    background-repeat: no-repeat
}

.savings-reward-background {
    background-image: url('../img/expense/SavingsReward.png');
    background-repeat: no-repeat
}

/*.leftReorderButton .item-right-edit {
  left: 0;
}

.leftReorderButton .item-content {
  padding-left: 80px !important;
}*/